frr defaults traditional
log syslog informational
service integrated-vtysh-config
!
{%- for asn, neighbor in data.bgp_neighbors.items() %}
router bgp {{ asn }}
 bgp ebgp-requires-policy
 {%- for group in neighbor %}
 neighbor V{{ group.address_family }} peer-group
 neighbor V{{ group.address_family }} remote-as {{ group.peer_as }}
 {%- for address in group.peer_ips %}
 neighbor {{ address }} peer-group V{{ group.address_family }}
 {%- endfor -%}
 {% endfor %}
 !
 {%- for group in neighbor %}
 address-family ipv{{ group.address_family }} unicast
  {%- if group.address_family == 6 %}
  neighbor V{{ group.address_family }} activate
  {%- endif %}
  neighbor V{{ group.address_family }} route-map IMPORT in
  neighbor V{{ group.address_family }} route-map EXPORT out
 exit-address-family
 !
 {%- endfor %}
{%- endfor %}
route-map EXPORT permit 1
!
route-map IMPORT deny 1
!
line vty
!
